<p>dashboard works!</p>
 <div class="container pt-4">
    <div class="row">
    <div class="col-lg-4">
      <img [src]="urlImagen" alt="img_bugsBunny"  width="100px" height="200px">
            IMG
    </div>
    <div class="col-lg-6 ">
       <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <input type="text"  class="form-control form-control-lg size" placeholder="modelId">
        <div class="d-grid gap-2 col-lg-6 mx-auto pt-4">
         <button  class="btn btn-primary d-grid ">obtener id</button> 
       </div>
       

       <div class="text-center mt-3 size">
         <div class="spinner-grow text-primary" role="status"></div>
         <div class="spinner-grow text-primary" role="status"></div>
         <div class="spinner-grow text-primary" role="status"></div>
         </div>

       </div>
    </div>
 </div>

